@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir-Narrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Agrandir', sans-serif;
}
